---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */
details {
  summary {
      &::before {
          font-family: FontAwesome;
          font-size: 1.2em;
          content: "\f152";
          float: left;
          margin-right: 0.4em;
      }
      &::-webkit-details-marker {
          display: none;
      }
      margin-bottom: 0.8em;
  }
  &.open, &[open] {
      summary::before {
          content: "\f150";
      }
  }
  color: rgb(236, 153, 74);
}